@use '../base/variables' as v;
@use '../base/mixins' as m;

.timer__controls {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1rem;
    padding: 1rem 7.5rem;
    border-radius: 4rem;

    @include m.tabletXL {
        padding: 1rem 7.5rem;
        width: 60%;
    }
}

.timer__button {
    width: 5rem;
    height: 5rem;

    svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.timer__clock p {
    margin: 0;
    text-align: center;
    font-size: 7rem;
    font-family: v.$primary-font;
    color: var(--primary-font-color);
    font-weight: v.$bold;
}
